<h1>{{title}}</h1>

<h1>Pair</h1>
<h3>BTC USD</h3>
<h4><label>Last Price:</label>{{ticker.USDC_BTC.last}}</h4>
<h4><label>Highest Bid:</label>{{ticker.USDC_BTC.highestBid}}</h4>
<h4><label>Lowest Ask:</label>{{ticker.USDC_BTC.lowestAsk}}</h4>
<h4><label>Percent Change:</label>{{ticker.USDC_BTC.percentChange}}</h4>
<h4><label>Base Volume:</label>{{ticker.USDC_BTC.baseVolume}}</h4>

<form action="/" method="POST">
<button>Submit</button>
</form>



